@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;900&display=swap');

/* Globale CSS variabelen */
:root{
    --primary: #FC7D7D;
    --primary_alt: #d87171;
    --light: #eee;
    --dark_accent: #24252A;
    --grey: #CFCFCF;
    --green: #76D7C4;
}

/* Een aantal properties resetten */
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: 'Poppins', sans-serif;
    background-color: #CFCFCF;
}

/* Begin Navigatiebar */
.header{
    background-color: var(--primary);
}
.header nav{
    max-width: 1680px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: auto;
    padding: 5px 0;
}
.logo{
    color: var(--dark_accent);
    font-weight: bold;
    font-size: 32px;
    margin-right: auto;
    cursor: pointer;
}
.logo i{
    margin-right: 10px;
}

.list{
    list-style: none;
}
.list li{
    display: inline-block;
    padding: 0px 20px;
}
.list li a{
    font-weight: 600;
    font-size: 16px;
    color: var(--dark_accent);
    text-decoration: none;
    transition: all 0.4s ease 0s;
}
.list li a:hover{
    color: var(--light);
}
.list li a.active{
    color: var(--light);
    border-bottom: 2px solid #eee;
}
.cta{
    display: flex;
    align-items: center;
}
.account{
    margin-left: 20px;
    width: 50px;
    height: 50px;  
    border: none;
    border-radius: 150px;
    transition: all 0.3s ease 0s;
}
.account:hover{
    transform: scale(1.15);
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

.checkbtn{
    display: block;
    z-index: 1;
    user-select: none;
    padding: 0;
    margin: 0;
    appearance: none;
    border: none;
    outline: none;
    background: none;
    cursor: pointer;
}
.checkbtn span{
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;

    background-color: var(--light);
    border-radius: 6px;
    z-index: 1;

    transform-origin: 0 0;

    transition: 0.4s ;
}
.checkbtn:hover span:nth-child(2){
    transform: translateX(10px);
    background-color: var(--dark_accent);
}
.checkbtn.is-active span:nth-child(1){
    transform: translate(0px, -2px) rotate(45deg);
}
.checkbtn.is-active span:nth-child(2){
    opacity: 0;
    transform: translateX(15px);
}

.checkbtn.is-active span:nth-child(3){
    transform: translate(-3px, 3px) rotate(-45deg);
}
.checkbtn.is-active span{
    background-color: var(--dark_accent);
}
.checkbtn.is-active:hover span{
    background-color: var(--light);
}
/* Eind Navigatiebar */


/* Begin hero section (main section) */
.content{
    margin: auto;
} 
.container{
    max-width: 2150px;
    height: 1000px;
    margin: auto;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 20px;
}
.main{
    background-color: var(--light);
    border: none;
    border-radius: 15px;
    padding: 15px;
}
.main{
    grid-column: 1/6;
    grid-row: 1/4;
}
.title{
    padding: 15px;
}



form{
    width: 100%;
    position: relative;
    margin: 0 auto 0 auto;
}
.row{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px 30px;
    margin-bottom: 20px;
}
label{
    color: var(--dark_accent);
    font-size: 18px;
    font-weight: 600;
    display: block;
}
textarea, input{
    background-color: #fff;
    width: 100%;
    padding: 8px 10px;
    border-radius: 5px;
    border: 1.2px solid var(--grey);
    margin-top: 5px;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    font-weight: 400;
}
textarea::selection, input::selection {
    background: var(--primary);
    color: var(--dark_accent);
  }
textarea{
    resize: none;
}
textarea:focus, input:focus{
    outline: none;
    border-color: var(--primary);
}
button{
    border: none;
    padding: 10px 20px;
    background: linear-gradient(90deg, #ff758c 0%, #ff7eb3 100%);
    color: #fff;
    border-radius: 3px;
}

/* End hero section*/

/* Start footer */
.footer_outside{
    background-color: #2C3E50;
    background-color: var(--dark_accent);
}
footer{
    max-width: 2130px;
    display: flex;
    flex-direction: row;
    border: none;
    color: var(--light);
    margin: auto;
    justify-content: space-around;
    padding: 15px;
}
.adres, .bezorg, .voorwaarden{
    display: flex;
    flex-direction: column;
}
.heading{
    font-weight: bold;
    font-size: 19px;
}

/* Media queries breakpoints */
@media screen and (max-width: 1920px) {
    .header nav{
        max-width: 1400px;
    }
    .container{
        max-width: 1800px;
    }
    footer{
        max-width: 1780px;
        margin-top: 0;
    }
    
  }
@media screen and (max-width: 1430px) {
    .header nav{
        max-width: 1000px;
    }
    
  }
@media screen and (max-width: 1030px) {
    .header nav{
        max-width: 800px;
    }
    .main p{
        font-size: 14px;
    }
    
  }
  /* iPad Air (820px)(1180px) */
@media screen and (max-width: 821px) {
    .header nav{
        max-width: 600px;
    }
    .checkbtn span{
        display: block;
        margin-right: 20px;
    }
    .account{
       margin-right: 20px;
    }
    .account:hover{
        transform: scale(1.09);
    }
    .list{
        position: fixed;
        width: 100%;
        height: 100vh;
        background-color: var(--dark_accent);
        top: 60px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .list li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    .list li a{
        font-size: 20px;
        color: var(--primary);
    }
    .list li a:hover, .list li a.active{
        color: var(--light);
    }
    .list.toggle{
        left: 0;
    }
    

    .container{
        max-width: 850px;
        max-height: 950px ;
    }
    .main{
        padding: 10px;
    }
    .main{
        grid-column: 1/6;
        grid-row: 1/3;
        padding: 0;
        /* height: auto; */
        height: 1100px;
    }

    
    .main p{
        font-size: 12px;
    }
    footer{
        margin-top: 200px;
    }
  }
  /* iPhone SE (375px)(667px) */
@media screen and (max-width: 376px) {
    .list{
        top: 50px;
    }
    .logo{
        font-size: 20px;
        margin-left: 10px;
    }
    .account{
        margin-right: 15px;
        width: 40px;
        height: 40px;  
     }

     .container{
        max-width: 850px;    
    }

    .main{
        grid-column: 1/6;
        grid-row: 1/2;
    }

    h3{
        font-size: 14px;
    }

    footer{
        /* margin-top: 500px; */
    }
  }